In [1]:
import pandas as pd
import numpy as np

In [4]:
df2 = pd.read_csv('./data/energy_2023_Feb.csv')

In [12]:
df2 = df2.drop(['end'], axis=1)

In [14]:
merged = pd.merge(df1, df2, on='start')

In [16]:
merged.sort_values(by=['room'])

,Unnamed: 0,start,end,room,Dew Point Temp,Cooling Valve Sts,Discharge Temp,Space Temp,Airflow,Airflow Stpt,CO2 Level,Dmpr Opening,Space Temp Stpt,HW Re-Heat Valve Opening,Space RH,id,energy
0,0,2023-02-01 00:00:00-05:00,2023-02-01 00:14:59-05:00,1104,39.2,0.0,73.8,69.5,0.0,0.0,420.0,0.0,72.0,0.0,34.3,1,67.0
37490,815,2023-02-09 11:45:00-05:00,2023-02-09 11:59:59-05:00,1104,44.5,22.9,61.2,69.8,556.9,600.0,467.0,100.0,70.0,0.0,43.0,48,111.0
67712,1472,2023-02-16 08:00:00-05:00,2023-02-16 08:14:59-05:00,1104,41.5,0.0,69.5,70.1,0.0,0.0,499.0,0.0,72.0,0.0,37.3,33,73.0
85744,1864,2023-02-20 10:00:00-05:00,2023-02-20 10:14:59-05:00,1104,40.4,0.0,63.5,70.0,371.7,375.9,450.0,51.9,70.0,0.0,35.8,41,86.0
24840,540,2023-02-06 15:00:00-05:00,2023-02-06 15:14:59-05:00,1104,39.7,36.7,63.4,69.9,551.5,600.0,550.0,100.0,70.0,0.0,34.7,61,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80545,122710,2023-02-19 05:30:00-05:00,2023-02-19 05:44:59-05:00,1266,40.6,0.0,69.2,72.8,225.6,225.0,501.0,23.4,74.0,0.0,32.8,23,60.0
80499,122709,2023-02-19 05:15:00-05:00,2023-02-19 05:29:59-05:00,1266,40.5,0.0,69.2,72.7,226.8,225.0,484.0,23.4,74.0,0.0,32.7,22,60.0
80453,122708,2023-02-19 05:00:00-05:00,2023-02-19 05:14:59-05:00,1266,40.4,0.0,69.2,72.7,226.7,225.0,487.0,23.4,74.0,0.0,32.5,21,62.0
80361,122706,2023-02-19 04:30:00-05:00,2023-02-19 04:44:59-05:00,1266,40.3,0.0,69.2,73.0,225.7,225.0,480.0,23.4,74.0,0.0,32.0,19,62.0
123647,123647,2023-02-28 23:45:00-05:00,2023-02-28 23:59:59-05:00,1266,41.7,0.0,68.3,72.6,220.7,225.0,471.0,23.3,74.0,0.0,34.5,96,65.0

In [43]:
df0 = pd.read_csv('./data/cleaned_data_floor0.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
df1 = pd.read_csv('./data/cleaned_data_floor1.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
df2 = pd.read_csv('./data/cleaned_data_floor2.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
df3 = pd.read_csv('./data/cleaned_data_floor3.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
df4 = pd.read_csv('./data/cleaned_data_floor4.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
df5 = pd.read_csv('./data/cleaned_data_floor5.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()

/tmp/ipykernel_33285/2958861360.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df0 = pd.read_csv('./data/cleaned_data_floor0.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
/tmp/ipykernel_33285/2958861360.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1 = pd.read_csv('./data/cleaned_data_floor1.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
/tmp/ipykernel_33285/2958861360.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2 = pd.read_csv('./data/cleaned_data_floor2.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
/tmp/ipykernel_33285/2958861360.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('./data/cleaned_data_floor3.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
/tmp/ipykernel_33285/2958861360.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df3 = pd.read_csv('./data/cleaned_data_floor3.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
/tmp/ipykernel_33285/2958861360.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df4 = pd.read_csv('./data/cleaned_data_floor4.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()
/tmp/ipykernel_33285/2958861360.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df5 = pd.read_csv('./data/cleaned_data_floor5.csv').drop(['energy', 'Unnamed: 0'], axis=1).groupby(['start']).mean()

In [49]:
concatenated_df = pd.concat([df0, df1, df2, df3, df4, df5], axis=0)

In [72]:
16128 / 6

2688.0

In [50]:
concatenated_df

,Dew Point Temp,Cooling Valve Sts,Discharge Temp,Space Temp,Airflow,Airflow Stpt,CO2 Level,Dmpr Opening,Space Temp Stpt,HW Re-Heat Valve Opening,Space RH
start,,,,,,,,,,,
2023-02-01 00:00:00-05:00,32.593103,32.593103,89.020690,67.110345,508.966667,462.586207,1262.521739,40.475439,68.051724,32.593103,32.593103
2023-02-01 00:15:00-05:00,32.246552,32.246552,89.450000,67.100000,511.370175,463.550000,1262.695652,40.633333,68.051724,32.246552,32.246552
2023-02-01 00:30:00-05:00,33.500000,33.500000,89.605172,67.103448,510.092982,464.841379,1259.739130,40.726316,68.017241,33.500000,33.500000
2023-02-01 00:45:00-05:00,33.753448,33.753448,89.768966,67.103448,527.335088,485.660345,1260.304348,40.935088,68.017241,33.753448,33.753448
2023-02-01 01:00:00-05:00,34.443103,34.443103,89.881034,67.096552,545.878947,503.982759,1257.608696,41.022807,68.017241,34.443103,34.443103
...,...,...,...,...,...,...,...,...,...,...,...
2023-02-28 22:45:00-05:00,42.271930,1.058929,68.657576,70.485965,62.021212,59.778788,455.600000,15.709375,69.896667,0.000000,38.307407
2023-02-28 23:00:00-05:00,42.287719,0.205357,68.596970,70.370175,62.675758,60.790909,458.600000,15.834375,69.896667,0.000000,38.462963
2023-02-28 23:15:00-05:00,42.303509,0.000000,68.806061,70.264912,65.745455,64.472727,457.700000,16.925000,69.896667,0.000000,38.614815
2023-02-28 23:30:00-05:00,42.289474,0.882143,68.924242,70.163158,66.127273,64.127273,455.200000,16.925000,69.896667,0.109091,38.733333
2023-02-28 23:45:00-05:00,42.229825,0.000000,68.736364,70.070175,59.957576,63.839394,457.300000,15.890625,69.896667,0.130303,38.762963

In [51]:
labels = pd.read_csv('./data/energy_2023_Feb.csv')
labels = labels.drop(['end'], axis=1)

In [52]:
merged = pd.merge(concatenated_df, labels, on='start')

In [53]:
merged

,start,Dew Point Temp,Cooling Valve Sts,Discharge Temp,Space Temp,Airflow,Airflow Stpt,CO2 Level,Dmpr Opening,Space Temp Stpt,HW Re-Heat Valve Opening,Space RH,id,energy
0,2023-02-01 00:00:00-05:00,32.593103,32.593103,89.020690,67.110345,508.966667,462.586207,1262.521739,40.475439,68.051724,32.593103,32.593103,1,67.0
1,2023-02-01 00:00:00-05:00,40.058696,4.647826,77.455172,69.991111,379.455172,266.482759,423.700000,38.882143,71.227586,30.620690,35.247500,1,67.0
2,2023-02-01 00:00:00-05:00,39.672241,0.000000,70.540625,69.401724,98.090625,47.419355,421.357143,13.153125,67.031250,0.000000,35.403966,1,67.0
3,2023-02-01 00:00:00-05:00,40.195000,0.000000,70.750000,70.296721,86.923529,81.176471,403.687500,18.523529,68.088235,2.670588,35.034262,1,67.0
4,2023-02-01 00:00:00-05:00,41.480000,0.000000,71.281250,70.051786,67.565625,53.843750,451.285714,24.875000,68.915625,0.000000,37.428571,1,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16123,2023-02-28 23:45:00-05:00,40.230435,3.808696,76.041379,70.006667,408.565517,238.927586,448.150000,33.800000,71.586207,29.979310,35.459318,96,65.0
16124,2023-02-28 23:45:00-05:00,40.419655,0.000000,70.390625,69.867241,90.628125,42.096774,448.357143,11.181250,72.500000,0.000000,35.963448,96,65.0
16125,2023-02-28 23:45:00-05:00,40.646667,0.000000,70.729412,70.729508,92.161765,75.147059,447.062500,14.455882,74.411765,2.941176,35.194098,96,65.0
16126,2023-02-28 23:45:00-05:00,42.212727,0.000000,69.840625,71.051786,139.696875,67.540625,489.714286,7.643750,69.993750,0.000000,37.366071,96,65.0
16127,2023-02-28 23:45:00-05:00,42.229825,0.000000,68.736364,70.070175,59.957576,63.839394,457.300000,15.890625,69.896667,0.130303,38.762963,96,65.0

In [63]:
merged = merged.drop(['start', 'id'], axis=1)

In [64]:
merged.to_csv('./data/dataloader.csv', index=False, header=False)

In [73]:
merged

,Dew Point Temp,Cooling Valve Sts,Discharge Temp,Space Temp,Airflow,Airflow Stpt,CO2 Level,Dmpr Opening,Space Temp Stpt,HW Re-Heat Valve Opening,Space RH,energy
0,32.593103,32.593103,89.020690,67.110345,508.966667,462.586207,1262.521739,40.475439,68.051724,32.593103,32.593103,67.0
1,40.058696,4.647826,77.455172,69.991111,379.455172,266.482759,423.700000,38.882143,71.227586,30.620690,35.247500,67.0
2,39.672241,0.000000,70.540625,69.401724,98.090625,47.419355,421.357143,13.153125,67.031250,0.000000,35.403966,67.0
3,40.195000,0.000000,70.750000,70.296721,86.923529,81.176471,403.687500,18.523529,68.088235,2.670588,35.034262,67.0
4,41.480000,0.000000,71.281250,70.051786,67.565625,53.843750,451.285714,24.875000,68.915625,0.000000,37.428571,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16123,40.230435,3.808696,76.041379,70.006667,408.565517,238.927586,448.150000,33.800000,71.586207,29.979310,35.459318,65.0
16124,40.419655,0.000000,70.390625,69.867241,90.628125,42.096774,448.357143,11.181250,72.500000,0.000000,35.963448,65.0
16125,40.646667,0.000000,70.729412,70.729508,92.161765,75.147059,447.062500,14.455882,74.411765,2.941176,35.194098,65.0
16126,42.212727,0.000000,69.840625,71.051786,139.696875,67.540625,489.714286,7.643750,69.993750,0.000000,37.366071,65.0
16127,42.229825,0.000000,68.736364,70.070175,59.957576,63.839394,457.300000,15.890625,69.896667,0.130303,38.762963,65.0

In [74]:
df0 = pd.read_csv('./data/cleaned_data_floor0.csv').drop(['energy', 'Unnamed: 0'], axis=1)
df1 = pd.read_csv('./data/cleaned_data_floor1.csv').drop(['energy', 'Unnamed: 0'], axis=1)
df2 = pd.read_csv('./data/cleaned_data_floor2.csv').drop(['energy', 'Unnamed: 0'], axis=1)
df3 = pd.read_csv('./data/cleaned_data_floor3.csv').drop(['energy', 'Unnamed: 0'], axis=1)
df4 = pd.read_csv('./data/cleaned_data_floor4.csv').drop(['energy', 'Unnamed: 0'], axis=1)
df5 = pd.read_csv('./data/cleaned_data_floor5.csv').drop(['energy', 'Unnamed: 0'], axis=1)

/tmp/ipykernel_33285/3570980010.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('./data/cleaned_data_floor3.csv').drop(['energy', 'Unnamed: 0'], axis=1)

In [75]:
concatenated_df = pd.concat([df0, df1, df2, df3, df4, df5], axis=0)

In [83]:
merged = pd.merge(concatenated_df, labels, on='start')

In [84]:
merged = merged.drop(['start', 'id', 'end', 'room'], axis=1)

In [86]:
merged.to_csv('./data/dataloader_singleroom.csv', index=False, header=False)

In [85]:
merged

,Dew Point Temp,Cooling Valve Sts,Discharge Temp,Space Temp,Airflow,Airflow Stpt,CO2 Level,Dmpr Opening,Space Temp Stpt,HW Re-Heat Valve Opening,Space RH,energy
0,16.6,16.6,91.3,65.6,1137.2,1120.0,434.0,40.8,70.0,16.6,16.6,67.0
1,22.3,22.3,91.3,65.6,3615.6,1130.0,NaN,0.0,70.0,22.3,22.3,67.0
2,100.0,100.0,89.4,65.6,1098.5,1120.0,NaN,37.1,70.0,100.0,100.0,67.0
3,90.4,90.4,90.2,67.6,980.5,985.0,435.0,34.8,72.0,90.4,90.4,67.0
4,56.8,56.8,90.2,69.3,925.1,920.0,416.0,36.5,70.0,56.8,56.8,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...
905851,41.9,0.0,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN,39.3,65.0
905852,41.2,0.0,73.1,68.0,0.0,0.0,NaN,0.0,60.0,0.0,39.6,65.0
905853,41.8,0.0,NaN,68.6,NaN,NaN,NaN,NaN,NaN,NaN,39.7,65.0
905854,41.5,0.0,66.4,67.5,55.5,55.0,NaN,21.9,68.0,0.0,NaN,65.0
905855,41.8,0.0,66.7,67.8,35.4,35.0,NaN,20.5,60.0,0.0,41.0,65.0